---
import { PricingTable } from '@clerk/astro/components'
---

<html>
  <body>
    <div style="max-width: 800px; margin: 0 auto; padding: 0 1rem;">
      <PricingTable />
    </div>
  </body>
</html>