---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About Blahaj.bio">
    <main class="flex-grow bg-gradient-to-br from--100 to-purple-100 py-16">
        <div class="max-w-3xl mx-auto px-4">
          <div class="text-center mb-12">
            <h1 class="text-5xl font-bold text-blue-900 mb-4">
              About Blahaj.bio
            </h1>
            <p class="text-xl text-white-700 mb-8">
              
            </p>
          </div>
</Layout>