---
import SiteLayout from "../layouts/SiteLayout.astro";
import { SignIn } from "@clerk/astro/components";
---

<SiteLayout title="Sign In - Blahaj.bio">
  <div class="flex justify-center p-8">
    <SignIn />
  </div>
</SiteLayout>