---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="prose mx-auto p-4">
    <h1>Privacy Policy</h1>
    <p>
      At Blahaj.bio, we take privacy seriously. We do not collect, store, or process any personal data on our servers.
    </p>
    <h2>GitHub Authentication</h2>
    <p>
      Our platform allows you to sign in using GitHub. This authentication process is handled entirely by GitHub, and we do not store any user data related to your authentication.
    </p>
    <h2>Data Submission</h2>
    <p>
      Any data you submit through our platform is directly sent to GitHub and is subject to <a href="https://docs.github.com/en/site-policy/privacy-policies/github-privacy-statement" target="_blank" rel="noopener noreferrer">GitHub’s Privacy Policy</a> and <a href="https://docs.github.com/en/site-policy/github-terms/github-terms-of-service" target="_blank" rel="noopener noreferrer">Terms of Service</a>.
    </p>
    <h2>Changes to This Policy</h2>
    <p>
      We reserve the right to update this policy as needed. Any significant changes will be reflected on this page.
    </p>
  </main>
</Layout>
