---
import SiteLayout from "../layouts/SiteLayout.astro";
import { SignUp } from "@clerk/astro/components";
---

<SiteLayout title="Sign Up - Blahaj.bio">
  <div class="flex justify-center p-8">
    <SignUp />
  </div>
</SiteLayout>
