---
import Footer from '../components/Footer.astro';
---

<html lang="en" class="dark">
  <head>
    <link rel="icon" type="image/svg" href="/favicon.svg" />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{Astro.props.title}</title>
  </head>
  <body class="flex flex-col min-h-screen bg-gray-900 text-gray-200 m-0">
    <header class="sticky top-0 left-0 right-0 bg-gray-800 p-4 shadow-sm z-10">
      <nav class="max-w-7xl mx-auto px-4 py-3">
        <a href="/" class="inline-block">
          <span class="text-2xl font-bold bg-gradient-to-r from-blue-500 to-purple-500 bg-clip-text text-transparent">
            Blahaj.bio
          </span>
        </a>
      </nav>
    </header>

    <main class="flex-grow p-4">
      <slot />
    </main>

    <Footer />
  </body>
</html>
