---
import Layout from "./Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <div class="flex flex-col min-h-screen">
    <Header />
    
    <!-- Main Content -->
    <main class="flex-grow">
      <slot />
    </main>

    <Footer />
  </div>
</Layout>